/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
    display: block;
}

body {
    line-height: 1;
}

ol,
ul {
    list-style: none;
}

blockquote,
q {
    quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
    content: '';
    content: none;
}

table {
    border-collapse: collapse;
    border-spacing: 0;
}

/* ============================================================================= */

body {
    height: 100vh;
    width: 100vw;
    position: relative;
    box-sizing: border-box;
    background-image: url("./assets/background.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    text-align: center;
    background-color: rgba(15, 34, 49, 1);
}

@font-face {
    font-family: myFirstFont;
    src: url("./assets/aptly/Aptly-Medium.otf");
}

h1 {
    font-family: myFirstFont;
    font-size: 60px;
    color: white;padding: 2%;
}

h3 {
    font-family: myFirstFont;
    color: #cd0e2d;
    text-transform: uppercase;
    font-size: 35px;
    font-weight: bold;
    margin-bottom:  30px;
}

.shader {
    height: 100vh;
    width: 100vw;
    background: rgb(15, 34, 49);
    background: linear-gradient(0deg, rgba(15, 34, 49, 1) 32%, rgba(15, 34, 49, 0.7139648095566351) 65%, rgba(15, 34, 49, 0.4674662101168593) 83%, rgba(15, 34, 49, 0) 100%);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: fixed;
    top: 0;
    left: 0;
    z-index: -1;
}

.mission {
    width: 700px;
    border: white 0px solid;
    margin-top: 7%; left: 0; right: 0;
    margin-left: auto;
    margin-right: auto; color: white;
    font-size: 20px;
    font-family: sans-serif;
}

.mission a {
    background-color: #cd0e2d;
    padding: 10px 30px;
    text-align: center;
    border-radius: 20px 0px 20px 0px;
    text-decoration: none;
    color: inherit;
}

.vales {
    width: 700px;
    border: white 0px solid;
    margin-top: 15px; left: 0; right: 0;
    margin-left: auto;
    margin-right: auto; color: white;
}

.vales .right,
.vales .left {
    border: white 0px solid;
    width: calc(48% - 40px); text-align: left;
    font-size: 20px;
    font-family: sans-serif;
    padding-left: 40px;
}

.vales .right {
    float: right;
    border-left: gray 1px solid;
    
}

.vales .left {
    float: left;
}

@media screen and (max-width: 1200px) {
    h1 {
        font-family: myFirstFont;
        font-size: 30px;
        background: rgba(0, 0, 0, 0.244);
        color: white;padding: 2%;
    }

    .mission {
        width: 90%;
        border: white 0px solid;
        margin-top: 7%; left: 0; right: 0;
        margin-left: auto;
        margin-right: auto; color: white;
        font-size: 20px;
        font-family: sans-serif;
        text-align: center;
    }

    .vales {
        width: 90%;margin-left: auto;
        margin-right: auto;
    }

    .vales .right,
    .vales .left {
        border: white 0px solid;
        width: 45%; text-align: left;
        font-size: 15px;
        font-family: sans-serif;
        padding-left: 10px;
        margin-left: auto;
        margin-right: auto;
    }
    
}